.circle {
    width: 80px;
    height: 80px;
    background: transparent;
    border-radius: 50%;
    border: 3px dashed teal;
    animation: 2s rotate infinite linear;
}

@keyframes rotate {

    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate(360deg) scale(1.4);
    }

}