* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root{
  display: flex;
  justify-content: center;
}
.App {
  padding: 10px;
  width: 800px;
  background: lightgrey;
}

.post {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 2px dashed grey;
  background: #FFFF;
  border-radius: 5px;
}
